<html>
    <head>
        {% if title %}
        <title>{{ title }} - flask project</title>
        {% else %}
        <title>flask project</title>
        {% endif %}
    </head>
    <body>
        <div>
            Меню:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('users') }}">Users</a>
            <a href="{{ url_for('microblog') }}">Microblog</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">{{current_user.username}}</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>